<div class="container">
    <div class="row g-3 mt-4">
       <table class="table   text-center">
                        <thead>
                             <tr>
                                <th scope="col">UserId</th>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Body</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of post">
                                <td>{{i.userId}}</td>
                                <td>{{i.id}}</td>
                                <td>{{i.title}}</td>
                                <td>{{i.body}}</td>
                               
                            </tr>
                        </tbody>
                    </table>
    </div>
</div>
